@model IEnumerable<TravelReviewSite.Models.Review>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@* thumbnail views for each individal review with button to access detail page *@
@foreach (var item in Model)  
{
<div class="row" id="ithumbs">
    <div class="col-sm-6 col-md-8">
        <div class="thumbnail">
            
            <div class="caption">
                <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
                <p>@Html.DisplayFor(modelItem => item.Content)<br />@Html.DisplayFor(modelItem => item.PubDate)</p>
                <p>@Html.ActionLink("Details", "Details", new { id = item.ID })</p>
            </div>
        </div>
    </div>
</div>


}